.doz-tagfield{
    text-align: left;
    border: 1px solid #ccc;
}

.doz-tagfield-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.doz-tagfield-list li{
    display: inline-block;
}

.doz-tagfield-list-item {
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;
    font-size: 14px;
    opacity: 0.7;
    font-weight: bold;
}

.doz-tagfield-list-item button {
    border: none;
    background: transparent;
    opacity: 0.5;
}

.doz-tagfield-list li input[type=text]{
    font-size: 14px;
    padding: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    margin: 2px;
    background: transparent;
}

.doz-tagfield-input{
    width: auto;
    min-width: 60px;
    padding: 10px;
    font-size: 14px;
    margin: 2px;
    box-sizing: border-box;
}

.doz-tagfield-selected{
    visibility: hidden;
    position: fixed;
    height: 1px;
    width: 1px;
}